body {
	background-color: #e0e0e0;
	font-family: "Times New Roman", Arial, sans-serif;
	font-size: 15px;
	color: #323232;
}

h1 {
	font-family: "Georgia", sans-serif;
	color: #880000;
}

h4 {
	font-family: "Georgia", sans-serif;
	color: #880000;
}

ul {
	list-style-type: none;
	margin: none;
	padding: none;
}

ul li {
	display: inline;
}

ul a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 20px 40px;
	background-color: #aa4444;
}

ul a:hover{
	color: #440000;
	font-size: 16px;
	}
